extends layout

block content
  h1 EBMeDS FHIR plugin
  p API version #{version}

  h2 Methods

  i POST /api/health-coaching

  h3 Request example 1

  pre #{request1}

  h3 Request example 2

  pre #{request2}